.statement table.head.container {
    width: 30%;
}


div#table_id_1_wrapper {
    margin-top: 20px;
}

.cl-pdf{
    text-align: center;
}

.item-td-check input {
    display: none;
}

#order_line_items .item-td-check input {
    display: block;
}

#order_line_items  .btn-success {
    background-image: -webkit-linear-gradient(top,#5cb85c 0,#419641 100%);
    background-image: -o-linear-gradient(top,#5cb85c 0,#419641 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#5cb85c),to(#419641));
    background-image: linear-gradient(to bottom,#5cb85c 0,#419641 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff419641', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #3e8f3e;
}

.item-td-check-button{
    visibility: hidden;
}
#order_line_items .item-td-check-button{
    visibility: visible;
}

#order_line_items a.btn.btn-success {
    text-decoration: unset;
}

#order_line_items  .btn-success {
    text-shadow: 0 -1px 0 rgb(0 0 0 / 20%);
    -webkit-box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 1px rgb(0 0 0 / 8%);
}
#order_line_items  .btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
#order_line_items  .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}


.butpdf a.btn.btn-success {
    text-decoration: unset;
}

.butpdf .btn-success {
    text-shadow: 0 -1px 0 rgb(0 0 0 / 20%);
    -webkit-box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 1px rgb(0 0 0 / 8%);
}
.butpdf  .btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.butpdf  .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}