.statement table.head.container {
    width: 30%;
}


div#table_id_1_wrapper {
    margin-top: 20px;
}

.cl-pdf{
    text-align: center;
}

.item-td-check input {
    display: none;
}

#order_line_items .item-td-check input {
    display: block;
}